{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  {% match error %}
    {% when Some with (error) %}
      <p>{{ error }}</p>
    {% when None %}
  {% endmatch %}

  <form action="/login?redirect_to={{ redirect_to }}" method="post">
    <label for="username">Username:</label><br />
    <input type="text" id="username" name="username" required /><br />

    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" required /><br />

    <input type="submit" value="Login" />
  </form>

  <a href="/register?redirect_to={{ redirect_to }}">Don't have an account?</a>
{% endblock %}
